<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Cric Info</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/navstyle.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <nav>
      <div class="menu-icon">
        <span class="fas fa-bars"></span>
      </div>
      
      <div class="logo"><img src="{{url_for('static',filename='images/Color logo - no background.svg')}}" style="max-width: 50px; max-height: 60px"></img> Cric Info</div>
      <div class="nav-items">
        <li><a href="{{url_for('home') }}">Home</a></li>
        <li><a href="{{url_for('teams') }}">Find Matches</a></li>
        <li><a href="{{url_for('team_stats') }}"> Teams Stats</a></li>
        <li><a href="{{url_for('player') }}">Player Stats</a></li>
        <li><a href="{{url_for('about') }}">About</a></li>
      </div>
      
      
      
      
    </nav>
    <div class="content">
      
      <!-- <div class="space text">using HTML CSS & JavaScript</div> -->
    </div>
    
  


    
    <script>
      const menuBtn = document.querySelector(".menu-icon span");
      const searchBtn = document.querySelector(".search-icon");
      const cancelBtn = document.querySelector(".cancel-icon");
      const items = document.querySelector(".nav-items");
      const form = document.querySelector("form");
      menuBtn.onclick = () => {
        items.classList.add("active");
        menuBtn.classList.add("hide");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
      cancelBtn.onclick = () => {
        items.classList.remove("active");
        menuBtn.classList.remove("hide");
        searchBtn.classList.remove("hide");
        cancelBtn.classList.remove("show");
        form.classList.remove("active");
        cancelBtn.style.color = "#ff3d00";
      };
      searchBtn.onclick = () => {
        form.classList.add("active");
        searchBtn.classList.add("hide");
        cancelBtn.classList.add("show");
      };
    </script>
  </body>
</html>
